<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products Page</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
  </head>
  <body>
     <%- include('partials/nav') %>
    <div class="container mt-3">
      <h1>Products</h1>
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <% data.forEach(data => { %>
        <div class="col"><%- include('partials/product', data) %></div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
